      <nav class="sidebar">
        <div class="sidebar-header"><a href="#" class="sidebar-brand"> Arifzyn <span>API</span> </a>
          <div class="sidebar-toggler not-active"><span></span> <span></span> <span></span>
          </div>
        </div>
        <div class="sidebar-body">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item"><a href="/dashboard" class="nav-link"> <i class="link-icon" data-feather="box"></i> <span class="link-title">Dashboard</span> </a></li>
            <li class="nav-item"><a href="/pricing" class="nav-link"> <i class="link-icon" data-feather="credit-card"></i> <span class="link-title">Pricing</span> </a></li>
            <li class="nav-item nav-category">Feature API</li>
            <li class="nav-item">
              <a href="/feature/anime" class="nav-link">
                <i class="fas fa-tv"></i>
                <span class="link-title">Anime</span>
              </a>
           </li>
           <li class="nav-item">
             <a href="/feature/ai" class="nav-link">
               <i class="fas fa-code"></i>
               <span class="link-title">AI</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="/feature/download" class="nav-link">
               <i class="fas fa-download"></i>
               <span class="link-title">Download</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="/feature/sfw" class="nav-link">
               <i class="fas fa-image"></i>
               <span class="link-title">Random Image</span>
             </a>
           </li> 
           <li class="nav-item">
             <a href="/feature/stalker" class="nav-link">
               <i class="fas fa-eye"></i>
               <span class="link-title">Stalker</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="/feature/search" class="nav-link">
               <i class="fas fa-search"></i>
               <span class="link-title">Search</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="/feature/maker" class="nav-link">
               <i class="fas fa-pencil"></i>
               <span class="link-title">Maker</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="/feature/tools" class="nav-link">
               <i class="fas fa-wrench"></i>
               <span class="link-title">Tools</span>
             </a>
           </li>
           <li class="nav-item nav-category">Contact</li>
           <li class="nav-item">
             <a href="https://github.com/ArifzynXD" class="nav-link">
               <i class="fab fa-github"></i>
               <span class="link-title">Github</span>
             </a>
           </li>
           <li class="nav-item">
             <a href="https://t.me/arifzxa19" class="nav-link">
               <i class="fab fa-telegram"></i>
               <span class="link-title">Telegram</span>
             </a>
           </li>
          </ul> 
        </div>
      </nav>
      <nav class="settings-sidebar">
        <div class="sidebar-body"><a href="#" class="settings-sidebar-toggler"> <i class="fas fa-id-card"></i> </a>
          <div class="theme-wrapper">
            <div class="card"> 
              <img src="https://telegra.ph/file/08e42288cdb47c4d1f9d1.jpg" class="card-img-top">
              <div class="card-body">
                <h6 class="card-title">Information</h6>
                <p class="card-text mb-3"> 
                   Jangan lupa join channel WhatsApp kami
                </p>
                <a href="https://whatsapp.com/channel/0029VaHMgM3Lo4hcfGTJ3W1e" class="btn btn-primary">
                  <i class="fab fa-whatsapp"></i> Join now
                </a>
              </div>
            </div>
          </div>
        </div> 
      </nav>